In [1]:
import pandas as pd

In [2]:
file_path = 'myScrap.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)




#1)Split the Available column into TWO columns As Availability and Available_quantity

# Extract 'Available' and 'Available_quantity' from 'Availability' column
availability_pattern = r'(\D+)(\d+) available'
df[['Availablility', 'Available_quantity']] = df['Availability'].str.extract(availability_pattern)


# Drop the original 'Availability' column
df = df.drop(columns=['Availability'])





#2)Removing symbol

# Remove the currency symbol and any non-numeric characters from the 'Price' column
df['Price'] = df['Price'].replace('[^\d.]', '', regex=True).astype(float)




#3)Removing parenthesis 

# Remove the opening parenthesis '(' from the 'Availability' column
#df['Availablility'] = df['Availablility'].str.replace('(', '')
df['Availablility'] = df['Availablility'].str.replace('(','',regex = False)




#4)Convert to the Uppercase

# Convert 'Rating' column data to uppercase
df['Rating'] = df['Rating'].str.upper()




#5) Dropping the unwanted column

# Drop the unnamed column
df = df.drop(columns=df.columns[df.columns.str.contains('Unnamed')])



# Display the updated DataFrame
print(df.head(15))

                                                Title            Category  \
0                                A Light in the Attic              Poetry
1                                  Tipping the Velvet  Historical Fiction
2                                          Soumission             Fiction
3                                       Sharp Objects             Mystery
4               Sapiens: A Brief History of Humankind             History
5                                     The Requiem Red         Young Adult
6   The Dirty Little Secrets of Getting Your Dream...            Business
7   The Coming Woman: A Novel Based on the Life of...             Default
8   The Boys in the Boat: Nine Americans and Their...             Default
9                                     The Black Maria              Poetry
10     Starving Hearts (Triangular Trade Trilogy, #1)             Default
11                              Shakespeare's Sonnets              Poetry
12                                        Set Me Free         Young Adult
13  Scott Pilgrim's Precious Little Life (Scott Pi...      Sequential Art
14                          Rip it Up and Start Again               Music

   Rating  Price Availablility Available_quantity
0   THREE  51.77     In stock                  22
1     ONE  53.74     In stock                  20
2     ONE  50.10     In stock                  20
3    FOUR  47.82     In stock                  20
4    FIVE  54.23     In stock                  20
5     ONE  22.65     In stock                  19
6    FOUR  33.34     In stock                  19
7   THREE  17.93     In stock                  19
8    FOUR  22.60     In stock                  19
9     ONE  52.15     In stock                  19
10    TWO  13.99     In stock                  19
11   FOUR  20.66     In stock                  19
12   FIVE  17.46     In stock                  19
13   FIVE  52.29     In stock                  19
14   FIVE  35.02     In stock                  19

In [3]:
df.to_csv("newScrap.csv", index=False,)